@import 'bourbon';
@import 'base/base';
@import 'neat';

body {
  background: #fafafa;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  color: #333;

  @include media($medium-screen) {
    font-size: 1.05em;
  }

  @include iphone6(landscape) {
    font-size: 0.8em;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  text-align: center;
  background: url('../images/bg.png');
  background-repeat: repeat;

  img {
    height: 50px;

    @include media($medium-screen) {
      height: auto;
    }

    @include iphone6(landscape) {
      height: 50px;
    }
  }

  img.icon {
    display: block;
    margin: 0 auto;
    height: 80px;

    @include media($medium-screen) {
      margin-bottom: 60px;
      height: 150px;
    }

    @include iphone6(landscape) {
      margin-bottom: 0px;
      margin-topssa: 0px;
      height: 70px;
    }
  }

  &#first {
    .icon {
      margin-bottom: 10px;
      height: 60px;

      @include media($medium-screen) {
        margin-bottom: 60px;
        height: 150px;
      }
    }

    p {
      @include iphone6(landscape) {
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }

  h1 {
    font-weight: 200;
    letter-spacing: -2px;
    color: #fff;
  }

  p {
    @include span-columns(10);
    @include shift(1);

    @include media($medium-screen) {
      @include span-columns(6);
      @include shift(3);
      @include omega;
    }

    @include iphone6 {
      @include span-columns(10);
      @include shift(1);
    }

    margin-top: 1em;
    margin-bottom: 1em;
  }

  .navigate {
    @include span-columns(12);
  }
}

#menu{
  text-align:center;
  position:fixed;
  top:82%;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;

  @include media($medium-screen) {
    top: 90%;
  }

  @include iphone6(landscape) {
    top: 85%;
  }

  li {
    display:inline-block;
    color: #000;
    opacity:.75;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin: .3em;

    @include media($medium-screen) {
      margin: .5em;
    }

    @include iphone6 {
      margin: .3em;
    }

    .active{
      background:#666;
      background: rgba(0,0,0, 0.5);
      color: #fff;
    }

    a {
      text-decoration:none;
      color: #000;
      padding: 9px 18px;
      display:block;
    }

    &:hover{
      background: rgba(255,255,255, 0.8);
    }

    &.active {
      background: #666;
      background: rgba(0,0,0, 0.5);
      color: #fff;

      a:hover{
        color: #000;
      }

      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

img {
  opacity: 0.5;
}

.sharebutton {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  text-align: center;

  z-index: 9999;
  color:#000;
  background:#fff;
  border-radius:25px;
  padding:.5em 1em;
  opacity:.5;

  @include media($medium-screen) {
    width: auto;
    right: 15px;
    left: initial;
    top: 15px;
  }

  @include iphone6(landscape) {
    width: auto;
    right: 15px;
    left: initial;
    top: 15px;
  }
}

.fp-controlArrow {
    opacity:.75;
    border-color: transparent transparent transparent #fff;
    height: 20px;

    &.fp-next {
      border-width: 25px 0 25px 25px;
    }

    &.fp-prev {
      display: none;
    }
}

#redeem-instructions {
  color: #fff;
  display: none;
  margin-bottom: 0;
}

.socialbutton {
  position: relative;
  top: 2em;
  font-weight: 400;

  &.twitter {
    z-index: 9999;
    color:#fff;
    background:#4099ff;
    border-radius:25px;
    padding:15px;
  }

  &.facebook {
    z-index: 9999;
    color:#fff;
    background:#3B5998;
    border-radius:25px;
    padding:15px;
  }
}